
.login-dark {
    height:1000px;
    background:#475d62 url(../../assets/img/star-sky.jpg);
    background-size:cover;
    position:relative;
  }
  
  .login-dark form {
    max-width:320px;
    width:90%;
    background-color:#1e2833;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
  }
  
  .login-dark .illustration {
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
    color:#2980ef;
  }
  
  .login-dark form .form-control {
    background:none;
    border:none;
    border-bottom:1px solid #434a52;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
  }
  
  .login-dark form .btn-primary {
    background:#214a80;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
  }
  
  .login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background:#214a80;
    outline:none;
  }
  
  .login-dark form .forgot {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
  .login-dark form .forgot:hover, .login-dark form .forgot:active {
    opacity:1;
    text-decoration:none;
  }
  
  .login-dark form .btn-primary:active {
    transform:translateY(1px);
  }
  
  .bg{
    width: 100%;
       height:auto;
     min-height:100vh;
   background-color: #cccccc;
       background-size: 100% 100%;
       background-position: top center;
       margin:auto;
   }
   
   .mainRow{
   
     margin-left: 10%;
     margin-right: 10%;
   }
   
   p{
      margin:0px; }
   
   .desc{
     background-color: #f0edeb;
     margin-top: 5%;
     margin-left:0;
     margin-right:50px;
     margin-bottom: 4%;
     }
   
   
     .card-body{
       padding:0;
       margin:0;
         margin-top:10%;
   
     }
     
     div.card.main{
       margin:0px!important;
     }
   
   
   .card{
     padding:0!important;
     margin-top:40px;
   }
   
   
   
   
   .quantity,.shipping,.promocode,.subtotal,.cardAndExpire,.nameAndcvc{
     margin:5%;
     color:#6c757d!important
   }
   
   .heading1{
       margin:5%;
   font-size: 25px;
   }
   
   .heading2{
       margin:5%;
   margin-top:15%;
   font-size: 20px;
   }
   
   .payment{
     background-color: #f0edeb;
     padding:3px;
     margin-top: 15%;
   }
   
   .text1{
   color:black;
   font-weight: 700;
   }
   
   .card-footer{
   background-color: black;
   color:white;
   }
   
   .purchaseLink{
     text-decoration: none;
   }
   
   .row1{
   font-size:12px;
   }
   
   .row2{
     font-weight: 600;
   }
   
   .subRow{
     margin-left:10%;
   margin-bottom: 2%;
     margin-top:5%;
   }
   
   p.cardAndExpireValue,p.nameAndcvcValue{
     margin:5%;
     margin-bottom: 10%;
   font-weight: 600;}
   
   p.nameAndcvc,p.cardAndExpire{
     margin-bottom: -10px;
   }
   
   .total{
     margin:5%;
   }
   
   .totalText{
     font-weight: 700;
   
   }
   .totalText2{
    font-weight: 700;
     font-size:30px;
   }
   
   .card-img-top {
       width: 100%;
       border-top-left-radius: calc(.25rem - 1px);
       border-top-right-radius: calc(.25rem - 1px);
       height: 430px;
   }